@inject DB db
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/pager.css">
    <link rel="stylesheet" href="/css/app.css" asp-append-version="true">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    @RenderSection("head", false)
    @RenderSection("Styles", false)
</head>
<body>
    <div class="info">@Html.Raw(TempData["Info"])</div>

    <header>
        <h1><a href="/">Club Management System</a></h1>

        @if (User.Identity!.IsAuthenticated)
        {
            <div>
                @User.Identity.Name |
                @(User.IsInRole("Admin") ? "Admin" : "")
                @(User.IsInRole("Member") ? "Member" : "")
            </div>
        }

        @if (User.IsInRole("Member"))
        {
            var photoURL = db.Members.Find(User.Identity!.Name)!.PhotoURL;
            <img src="/photos/@photoURL">
        }
    </header>

    <nav>
        <a href="/Home/Index">Index</a>
        <a href="/FacilityCategories/FacilityCategories">Facility Categories</a>
        <a href="/Facilities/Facilities">Facilities</a>
        <a href="/Announcement/AnnView">Announcement</a>
        <a href="/Admin/AdminPage">Admin</a>
        <a href="/Admin/MemberPage">Member</a>
        <div></div>

        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Account/Logout">Logout</a>
            <a href="/Account/UpdatePassword">Update Password</a>
        }
        else
        {
            <a href="/Account/Login">Login</a>
            <a href="/Account/Register">Register</a>
            <a href="/Account/ResetPassword">Reset Password</a>
        }
        @if (User.IsInRole("Member"))
        {
            <a href="/Account/UpdateProfile">Update Profile</a>
        }
    </nav>

    <main>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </main>

    <footer>
        Copyrighted &copy; @DateTime.Today.Year
    </footer>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="/js/app.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)
</body>
</html>